/* src/components/CardList.module.css */

.card-list {
  min-width: 50%;
  min-height: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
/*   justify-content: center;
  align-items: center; */
  margin: 40px 0;
  color: #fff;
  background-color: #333;
}

.card-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
box-sizing: border-box;
  padding: 16px;
  margin: 16px;
  font-size: 1rem;

}



@media screen and (max-width: 768px) {
  .card-item {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .card-item {
    width: 90%;
  }
}