#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* src/App.css */
.app-container {
  height: 100vh;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}
