#root {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
}

/* src/App.css */
.app-container {
  height: 100vh;
  background-color: #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
